:root {
  font-family: calibri, arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #228ddd;
  padding: 0;
  margin: 0;
}
.stripe {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px #3d506e, -10px 10px 10px #3d506e;
}
header {
  display: flex;
  justify-content: center;
  width: 250px;
}
main {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  font-size: 16px;
  border-radius: 16px;
  padding: 8px 16px;
  width: 250px;
  height: 30px;
  margin-bottom: 5px;
  border: solid #ddd 2px;
}
input:focus {
  box-shadow: 0 0 0 4px #0084ff80;
  outline: none;
}
.error {
  border: solid red 2px;
}
.valid {
  border: solid green 2px;
}
#submit-form {
  height: 40px;
  align-self: center;
  margin-top: 30px;
  background-color: #35af63;
  color: white;
  box-shadow: 5px 5px 20px -10px black;
}
.error-message {
  color: red;
}
